.app-action {
    height: 33.3333333333333vh;
}

.app-action-1 {
    background-color: aqua;
}

.app-action-2 {
    background-color: chocolate;
}

.app-action-3 {
    background-color: darkviolet;
}

.app-action-4 {
    background-color: white;
}

.app-action-5 {
    background-color: lightslategrey;
}

.app-action-6 {
    background-color: palegoldenrod;
}